<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001484260610-ibve5ek7glo78keq1rdggpcia63vp6a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001484260610-ibve5ek7glo78keq1rdggpcia63vp6a2</string>
	<key>API_KEY</key>
	<string>AIzaSyBfaaWAvllKOeB2ZCxaQmlneoH6q-7fKM8</string>
	<key>GCM_SENDER_ID</key>
	<string>1001484260610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ginger.FaceIDFirebaseAuth</string>
	<key>PROJECT_ID</key>
	<string>kavsoft-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>kavsoft-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001484260610:ios:7e07d51fa5f4590f20de1b</string>
</dict>
</plist>